### import libraries

In [1]:
import pandas as pd

### read file and inspect files

In [4]:
visits = pd.read_csv('visits.csv',
                     parse_dates=[1])
cart = pd.read_csv('cart.csv',
                   parse_dates=[1])
checkout = pd.read_csv('checkout.csv',
                       parse_dates=[1])
purchase = pd.read_csv('purchase.csv',
                       parse_dates=[1])

In [6]:
cart.head(10)
checkout.head(10)
visits.head(10)
purchase.head(10)

                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00
5  5ae833dc-8866-4baa-9617-2009d6474ffa 2017-07-26 16:46:00
6  70688015-a755-4b8a-a963-3528d85c8048 2017-09-24 08:05:00
7  c504ff0d-eefe-472b-826c-471142311857 2017-05-02 07:56:00
8  99ad37b5-30b1-4a06-ad47-d9d2d60cdb07 2017-02-20 11:11:00
9  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:18:00

#### join table for easier handling

In [9]:
visit_cart = pd.merge(visits, cart, how = "left")
visit_cart
visit_purchase = pd.merge(visits, purchase, how ="left")
visit_purchase
cart_checkout = pd.merge(cart, checkout, how ="left")
cart_checkout

,user_id,cart_time,checkout_time
0,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:14:00
1,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 20:50:00
2,2be90e7c-9cca-44e0-bcc5-124b945ff168,2017-11-07 20:45:00,2017-11-07 21:11:00
3,4397f73f-1da3-4ab3-91af-762792e25973,2017-05-27 01:35:00,NaT
4,a9db3d4b-0a0a-4398-a55a-ebb2c7adf663,2017-03-04 10:38:00,2017-03-04 11:04:00
...,...,...,...
477,59d2b685-383a-4fce-a325-35d985713a8b,2017-01-20 03:58:00,NaT
478,a1203970-92ae-4fc7-843e-e1740c1be9d5,2017-11-12 23:07:00,NaT
479,55de53ae-89f6-43ff-a26d-df284678aca1,2017-03-17 19:56:00,2017-03-17 20:04:00
480,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 08:57:00
481,0ea4cc68-dae4-4e35-b3e0-f0889932e1b5,2017-05-12 08:53:00,2017-05-12 09:20:00

### inspect data

In [14]:
len(visit_cart)
no_cart_time = len(visit_cart[visit_cart.cart_time.isnull()])
len(visit_purchase[visit_purchase.purchase_time.isnull()])
percent_no_cart = (float(no_cart_time) / len(visits) )* 100
no_checkout = len(cart_checkout[cart_checkout.checkout_time.isnull()])
percent_no_checkout = (float(no_checkout) / len(cart) )* 100

In [17]:
# merge all tables
all_data = visits.merge(cart,how = "left").merge(checkout, how = "left").merge(purchase, how ="left")
all_data

,user_id,visit_time,cart_time,checkout_time,purchase_time
0,943647ef-3682-4750-a2e1-918ba6f16188,2017-04-07 15:14:00,NaT,NaT,NaT
1,0c3a3dd0-fb64-4eac-bf84-ba069ce409f2,2017-01-26 14:24:00,2017-01-26 14:44:00,2017-01-26 14:54:00,2017-01-26 15:08:00
2,6e0b2d60-4027-4d9a-babd-0e7d40859fb1,2017-08-20 08:23:00,2017-08-20 08:31:00,NaT,NaT
3,6879527e-c5a6-4d14-b2da-50b85212b0ab,2017-11-04 18:15:00,NaT,NaT,NaT
4,a84327ff-5daa-4ba1-b789-d5b4caf81e96,2017-02-27 11:25:00,NaT,NaT,NaT
...,...,...,...,...,...
2367,33913ac2-03da-45ae-8fc3-fea39df827c6,2017-03-25 03:29:00,NaT,NaT,NaT
2368,4f850132-b99d-4623-80e6-6e61d003577e,2017-01-08 09:57:00,NaT,NaT,NaT
2369,f0830b9b-1f5c-4e74-b63d-3f847cc6ce70,2017-09-07 12:56:00,NaT,NaT,NaT
2370,b01bffa7-63ba-4cd3-9d93-eb1477c23831,2017-07-20 04:37:00,NaT,NaT,NaT
2371,0336ca81-8d68-443f-9248-ac0b8ad147d5,2017-11-15 10:11:00,NaT,NaT,NaT

### percentage of users proceeded to checkout, but did not purchase a t-shirtp

In [19]:
percent_user_to_checkout =float(len(all_data[all_data.checkout_time.notnull()])) / len(all_data) *100
percent_user_to_checkout
percent_user_to_purchase = float(len(all_data[all_data.purchase_time.notnull()])) / len(all_data) *100
percent_user_to_purchase
percent_checkout_no_purchase = percent_user_to_checkout - percent_user_to_purchase
percent_checkout_no_purchase

4.258010118043845

 ### the step of the funnel is weakest

In [27]:
len(all_data[all_data.visit_time.notnull()])
# len(all_data[all_data.cart_time.notnull()])
# len(all_data[all_data.checkout_time.notnull()])
len(all_data[all_data.purchase_time.notnull()])
"purchase time is the weakest step"

'purchase time is the weakest step'

### calculate the  Average Time to Purchase

In [29]:
all_data['time_to_purchase'] = \
    all_data.purchase_time - \
    all_data.visit_time
#print(all_data.time_to_purchase)
#most people waste no time to purchase their goods
all_data.time_to_purchase.mean()

Timedelta('0 days 00:43:53.360160965')